{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block content %}
    <h3>About us</h3>
    <p class="text-justify">The nc99 Minecraft server is a small community server hosted in a home in California since 2012. Throughout the years, we've hosted many types of Minecraft servers, including a public Bukkit server, several modded servers, and a private vanilla server. We continue to host Minecraft servers and hope to provide a much needed relief from servers that have been overrun with annoying plugins and abusive moderators.</p>
    <p class="text-justify">All staff play on servers along with everyone else and are not allowed any extra in-game advantages. This way, we become a server run by the players, for the players. On our servers, we try to have very few rules in order to give as much freedom as possible but without it hurting others.</p>
    <h3>Staff</h3>
    <p class="text-justify">All staff are volunteers. We are all currently university students, attending various universities around the world. All staff are able to remotely access the server console to help resolve any issues.</p>
    <ul>
        <li><strong>nc99</strong> - owner, administrator, support</li>
        <li><strong>safelock</strong> - assistant server administrator</li>
        <li><strong>Pi_is_314</strong> - assistant server administrator</li>
        <li><strong>cowsay</strong> - assistant server administrator</li>
    </ul>
    <h3>Contact</h3>
    <p>If you have any issues or questions, please email <a href="mailto:support@nc99.co">support@nc99.co</a>.</p>
    <h3>Funding</h3>
    <p>All server costs, including electricity and domain registration, are covered privately. All maintenance is done on a volunteer basis. We do not currently accept online donations. As this service is provided for free, all that we ask is that players are respectful to each other and staff.</p>
    <h3>Technical details</h3>
    <p>The server runs Ubuntu and was custom built in 2012.</p>
    <ul>
        <li><strong>CPU:</strong> Intel Core i5-3570K Ivy Bridge Quad-Core 3.4GHz</li>
        <li><strong>RAM:</strong> 2x8GB DDR3 (16GB total)</li>
        <li><strong>Motherboard:</strong> ASUS P8H61-M LE/CSM (REV 3.0) LGA 1155 Intel H61 Micro ATX Intel Motherboard</li>
        <li><strong>Storage:</strong> 1.5TB HDD</li>
    </ul>
    <p class="text-justify">Since we are home-hosted, we unfortunately have home internet connection speeds. Currently, the speeds are about 30 Mbps down and 5 Mbps up. Because of this, most lag experienced when playing is due to network speeds, not server hardware. We are located in Mountain View, CA so geographical distance from here can also be a factor in lag, although international users from Europe have been successful in playing on a public modded server in the past.</p>
    <br>
{% endblock %}
