asn1crypto==0.23.0
attrs==17.2.0
Automat==0.6.0
cffi==1.11.0
click==6.7
constantly==15.1.0
cryptography==2.0.3
Django==1.11.5
dnspython==1.15.0
dnspython3==1.15.0
gunicorn==19.9.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
mcstatus==2.2
pyasn1==0.3.6
pyasn1-modules==0.1.4
pycparser==2.18
pyOpenSSL==17.3.0
pytz==2017.2
quarry==0.8
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
uWSGI==2.0.15
zope.interface==4.4.3
